<!doctype html>
<html lang="en">
    {{> head}}
    <body>
        <div class="root">
            <h1>DS FPS</h1>
            <a href="/game"><h3>⏩ play most recent map</h3></a>
            <a href="/editor"><h3>⏩ map editor</h3></a>
        </div>
    </body>
</html>